@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-gray-100 text-brand-gray-800 antialiased;
  }
}

/* Custom scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  @apply bg-brand-gray-200;
}
::-webkit-scrollbar-thumb {
  @apply bg-brand-gray-400 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-brand-gray-500;
}

@media print {
  body {
    background-color: white;
  }
  .no-print {
    display: none !important;
  }
  .print-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
